/* OVERALL */
body {
    background-color: #1a1a1a; 
    color: #D2D2D0; 
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

.container {
    width: calc(100% - 200px); 
    margin-left: 200px; 
    padding: 20px;
    background: #fdfdfd00; 
    transition: 1s; 
    box-sizing: border-box; 
}

.content {
    padding: 20px; 
    margin: 20px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 8px; 
    border: 2px solid #F9D401; 
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.content p {
    margin-bottom: 20px;
}

.content ul {
    padding-left: 20px;
}

.content li {
    margin-bottom: 10px; 
    line-height: 1.6; 
}

.skill-image {
    width: 100%; 
    max-width: 500px; 
    margin-top: 10px;
    margin-bottom: 10px; 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}

.page-header {
    background-color: #4A90E2; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    border-radius: 8px; 
}

.page-header h1 {
    margin: 0; 
    font-size: 2.5em; 
}

.page-header p {
    margin: 5px 0 0; 
    font-size: 1.2em;
}

/* ANIMATIONS */
.content.visible {
    opacity: 1; 
    transform: translateY(0); 
}

h1 {
    color: #F9D401; 
    font-size: 2.5em; 
}

p {
    line-height: 1.5em; 
    font-size: 1.1em; 
}

a {
    color: #F9D401; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

/* Typewriter effect */
.typewriter {
    display: inline-block; 
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: blink-caret .75s step-end infinite; 
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

@media (max-width: 768px) {
    .menu {
        width: 150px; 
    }

    .container {
        width: calc(100% - 150px); 
        margin-left: 150px;
    }
}


/* PROJECT - code inspired and changed from https://codepen.io/knyttneve/pen/YgZbLO */
.projects-grid {
    margin: 100px auto; 
    width: 70%; 
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.project-item {
    position: relative;
    overflow: hidden; 
    width: 20%; 
    height: 300px; 
    transition: transform 0.5s ease; 
}

.project-item:hover {
    transform: scale(1.2); 
    z-index: 1; 
}

.projects-grid img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
    transition: transform 0.5s ease; 
}

.project-title {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; 
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 5px 10px; 
    border-radius: 5px;
    transition: opacity 0.5s ease; 
    opacity: 0; 
}

.project-item:hover .project-title {
    opacity: 1; 
}

.explore-button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    background-color: #F9D401; 
    color: black; 
    text-align: center; 
    border: none;
    border-radius: 5px;
    text-decoration: none; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.explore-button:hover {
    background-color: #FFD700; 
}


/* Social Links */
.social-links {
    display: flex; 
    justify-content: flex-end; 
    gap: 15px;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.social-links li {
    margin: 0; 
}

.social-links a {
    font-size: 30px; 
    color: #000; 
    transition: color 0.3s; 
}

.social-links a:hover {
    color: #555; 
}


/* Desktop Alert Modal Styles */
.alert-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.alert-content {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    width: 90%; 
    max-width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert-content p {
    font-size: 16px; 
}

.alert-content button {
    margin-top: 12px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Adjusted button text size */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .menu {
        display: none; 
    }

    /* Adjust the container width and margin to account for the hidden menu */
    .container {
        width: 100%; 
        margin-left: 0; 
    }
}
